* {
    padding: 0;
    margin: 0;
}

header {
    padding-bottom: 22px;
    padding-top: 22px;
}

.container {
    max-width: 1148px;
    margin: auto;
}

header nav ul {
    display: flex;
    list-style: none;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

header nav ul li {
    transition: 0.4s;
    margin: 0 16px;
}

header nav ul li:hover {
    transform: rotate(360deg);
}

header nav ul li:last-of-type {
    margin: 0 0 0 15px;
}

header nav ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1B1A1A;
}

header nav ul li:last-of-type a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    background: #1B1A1A;
    border-radius: 14px;
    padding: 11px 20px;

}

.main-banner {
    background-color: #ECE7E4;
    height: 90vh;
    position: relative
}

.main-banner article {
    max-width: 510px
}

.article-p1 {
    padding-top: 137px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

.article-p2 {
    margin-bottom: 41px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}

h1 {
    margin-bottom: 18px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
}

.article-link {
    margin-left: 25px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}

.main-banner-container {
    max-width: 1200px;
    margin: auto;
}

.article-container {
    max-width: 720px;
}

.main-banner-image {
    background-image: url('../images/IMAGE.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 90vh;
}

.section-container {
    padding: 100px 0;
}

.our-firm {
    max-width: 768px;
    margin: auto;
}

.our-firm-h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
}

.our-firm-text {
    max-width: 493px;
}

.our-firm-text p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
    margin-bottom: 10px;
}

.our-firm-text p:last-of-type {
    margin-bottom: 18px;

}

.s-flex {
    display: flex;
    justify-content: start;
    align-content: center;
}

.name {
    padding-left: 30px;
    padding-top: 20px;
}

.name p:first-of-type {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #1B1A1A;
    margin-bottom: 0;
}

.name p:last-of-type {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 11px;
    color: #645C55;
    margin-top: 0;
}

.ground-gallery {
    background-image: url("../images/gallery.jpg");
}

.portfolio {
    min-height: 85vh;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sub_container {
    max-width: 285px;
    margin-right: 75px;
}

.portfolio .sub_container h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}

.portfolio .sub_container p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}

.subsection {
    max-width: 468px;
    margin: auto;
    text-align: center;
}

.subsection p {
    margin-bottom: 13px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

.subsection h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
}

.small-container {
    max-width: 294px;
    text-align: center;
}

.icons-container {
    max-width: 1080px;
    margin: auto;
    padding-top: 47px;
}

.small-container h4 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #403E3B;
}

.small-container p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
}

.f-small-container h4 {
    font-size: 18px;
}

.f-small-container p {
    font-size: 15px;
}

.ground-stairway {
    background-image: url("../images/stairway.jpg");
}

.ground-stairs {
    background-image: url("../images/stairs.jpg");
}

.stairs {
    margin-left: 60px;
    margin-right: 0;
}

.stairs-flex {
    justify-content: flex-start;
}

.customers {
    background-color: #403E3B;
    padding: 100px 0;
}

.customers-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.customers-text {
    max-width: 451px;
}

.customers-text h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ECE7E4;
}

.customers-text h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.customers-text p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ECE7E4;
}

.clients-icon-flex1 {
    height: 178px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 85px;
}

.clients-icon-flex2 {
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.featured_project{
    background-color: #F7F7F7;
    padding-top: 113px;
    padding-bottom: 111px;
}
.featured_project h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
    margin-bottom: 15px;
}
.featured_project p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #645C55;
    margin-bottom: 44px;
}
.featured_project .item{
    max-width: 375px;
    position: relative;
    overflow: hidden;
}
.featured_project .item:hover .description{
    bottom: 0;
}
.featured_project .item .description{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 40px;
    bottom: -100%;
    transition: 0.4s;
}
.featured_project .description h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #403E3B;
    width: 100%;
}
.featured_project .description h4 span{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
    display: block;
}
.featured_project .description a{
    display: inline-block;
    background: #1B1A1A;
    border-radius: 14px;
    padding: 11px 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-decoration: none;
}
.ui-accordion .ui-accordion-header{
    border: none;
    background: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    padding-top: 53px;
}
.ui-icon{
    display: none;
}
.ui-accordion .ui-accordion-content{
    background: none;
    border: none;
    padding: 0;
}

.our-team{
    background-color: #FFFFFF;
    padding-top: 96px;
    padding-bottom: 128px;
}

.our-team h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
    margin-bottom: 14px;
}

.our-team p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #645C55;
}

.our-team span{
    display: block;
    padding-top: 41px;
    padding-left: 25px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}

.our-team_description{
    max-width: 358px;
}

.team-icon{
    padding-left: 37px ;
    max-width: 622px;
    min-height: 356px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.team-icon .s-flex{
    width: 250px;
    height: 84px;
}

.our-team .container{
    display: flex;
}

.get{
    background-color: #CEC4BC;
    padding-top: 100px;
    padding-bottom: 117px;
}

.get_description{
    max-width: 569px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.get_description h4 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

.get_description p{
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A;
    margin-top: -7px;
}

.get .container a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
}

.get .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: #FFFFFF;
    padding-top: 62px;
    padding-bottom: 60px;
}

.footer_description {
    max-width: 365px;
}
.footer_description p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
    margin-top: 20px;
}
.footer_icon{
    width: 114px;
    height: 24px;
}

.footer_icon a:first-of-type{
    margin-right: 20px;
}
.footer_icon a:last-of-type{
    margin-left: 26px;
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}